---
layout: default
---

<div class="home">

  {{ content }}

  <form accept-charset="UTF-8" action="https://getform.io/f/3bf14354-b499-458a-8c09-206b34969b31" method="POST">
    <label for="email_addr" required="required">Leave your email address if you want to be notified of new posts.</label><br/>
    <input type="email" name="email" id="email_addr" placeholder="Your email address" style="font-size:12pt;">
    <div style="display:inline-block;margin-top:0.5rem;"><button type="submit" style="font-size:12pt;border-radius:5px;">Sign up</button></div>
  </form> <br/>

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
